.container{
 background-color: #1363DF;
 color: white;
 padding-block: 20px;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.item{
 padding-inline: 20px;
}

.itemLink{
 text-decoration: none;
 color: white;
 font-weight: bold;
}